In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy.sparse.linalg import svds
import seaborn as sns

In [2]:
# !unzip Data.zip

In [3]:
ratings=pd.read_csv('../Data/ratings.csv')
movies=pd.read_csv('../Data/movies.csv')
users=pd.read_csv('../Data/user.csv')

In [76]:
users=users.drop(users.columns[0],axis=1)
users.head()
movies=movies.drop(movies.columns[0],axis=1)

In [77]:
ratings

           index  user_id  movie_id  rating  timestamp
0              0        1      1193       5  978300760
1              1        1       661       3  978302109
2              2        1       914       3  978301968
3              3        1      3408       4  978300275
4              4        1      2355       5  978824291
...          ...      ...       ...     ...        ...
1000204  1000204     6040      1091       1  956716541
1000205  1000205     6040      1094       5  956704887
1000206  1000206     6040       562       5  956704746
1000207  1000207     6040      1096       4  956715648
1000208  1000208     6040      1097       4  956715569

[1000209 rows x 5 columns]

In [78]:
print("Number user:",len(np.unique(ratings['user_id'])))
print("Number movie:",len(np.unique(ratings['movie_id'])))

Number user: 6040
Number movie: 3706

Convert my ratings matrix to be one row per users and one column per movie. To do so, I'll pivot ratings to get that and call the new variable Ratings

In [79]:
Ratings=ratings.pivot(index='user_id',columns='movie_id',values='rating').fillna(0)
Ratings.head()

movie_id  1     2     3     4     5     ...  3948  3949  3950  3951  3952
user_id                                 ...
1          5.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

In [80]:
Ratings.iloc[0,:]

movie_id
1       5.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
3948    0.0
3949    0.0
3950    0.0
3951    0.0
3952    0.0
Name: 1, Length: 3706, dtype: float64

In [81]:
r=Ratings.values # convert to matrix
print(r.shape)
user_ratings_mean=np.mean(r,axis=1)
print(user_ratings_mean.shape)
rating_mean=r-user_ratings_mean.reshape(-1,1)

(6040, 3706)
(6040,)

In [82]:
# U,sigma,Vt=svds(rating_mean,k=50)
U,sigma,Vt=np.linalg.svd(rating_mean,full_matrices=False)
print(U.shape)
print(sigma.shape)
print(Vt.shape)

(6040, 3706)
(3706,)
(3706, 3706)

In [83]:
sigma=np.diag(sigma)
print(sigma.shape)

(3706, 3706)

# Making predictions from the Decomposed Matrices

At this time, we need to make movie ratings predictions for all users. I can do it at once by following the math and matrix multiply $U$,$\Sigma$,$V^T$ back to get the rank K=50 to approximation of A

In [84]:
all_user_predicted_ratings=np.dot(np.dot(U,sigma),Vt)+user_ratings_mean.reshape(-1,1)

In [85]:
predict=pd.DataFrame(all_user_predicted_ratings,columns=Ratings.columns)
predict.head(3)

movie_id          1             2     ...          3951          3952
0         5.000000e+00  7.646661e-14  ...  4.628242e-15  6.723788e-15
1         2.803313e-14  1.540434e-13  ... -5.551115e-17  1.090794e-14
2         2.337019e-14  1.520312e-14  ... -1.332268e-15 -2.289835e-15

[3 rows x 3706 columns]

In [86]:
movie_ids=movies['movie_id'].astype('int')

In [87]:
def movie_recommend(userID,number_movie_recommendation):
    user_id=userID-1 #start from 0
    user_data_for_id=ratings[ratings.user_id==userID]
    already_movie_rated=user_data_for_id.merge(movies,how='inner',left_on='movie_id',right_on='movie_id').sort_values(['rating'])
    print("User ID {} has been voted {} number movies".format(userID,already_movie_rated.shape[0]))
    socres_predict=np.array(predict.iloc[user_id,:])
    c={movie_ids[i]:socres_predict[i] for i in range(len(socres_predict))}
    c=sorted(c.items(),key=lambda x:x[1],reverse=True)[1:number_movie_recommendation]
    indices=[i[0] for i in c]    
    return already_movie_rated,movies.iloc[indices]

In [88]:
already_rated,prediction=movie_recommend(1310,20)

User ID 1310 has been voted 24 number movies

In [89]:
already_rated.head(20)

     index  ...                             genres
21  215949  ...                              Drama
2   215930  ...                              Drama
14  215942  ...                              Drama
22  215950  ...                          Drama|War
0   215928  ...                              Drama
19  215947  ...                          Drama|War
16  215944  ...                             Comedy
20  215948  ...          Action|Comedy|Crime|Drama
18  215946  ...                       Comedy|Drama
17  215945  ...                              Drama
13  215941  ...                              Drama
12  215940  ...                           Thriller
11  215939  ...                           Thriller
9   215937  ...                              Drama
8   215936  ...               Comedy|Drama|Romance
4   215932  ...               Comedy|Drama|Romance
3   215931  ...                          Drama|War
10  215938  ...  Action|Adventure|Drama|Sci-Fi|War
23  215951  ...    Children's|Drama|Fantasy|Sci-Fi
15  215943  ...                              Drama

[20 rows x 7 columns]

In [90]:
prediction

      movie_id                       title                     genres
3510      3579  I Dreamed of Africa (2000)                      Drama
1604      1650    Washington Square (1997)                      Drama
1219      1238           Local Hero (1983)                     Comedy
2127      2196            Knock Off (1998)                     Action
1122      1138             Dadetown (1995)                Documentary
1038      1052      Proprietor, The (1996)                      Drama
1889      1958  Terms of Endearment (1983)               Comedy|Drama
1225      1245    Miller's Crossing (1990)                      Drama
2954      3023         My Best Girl (1927)             Comedy|Romance
3200      3269        Forever Young (1992)   Adventure|Romance|Sci-Fi
1265      1285             Heathers (1989)                     Comedy
1112      1128             Fog, The (1980)                     Horror
3512      3581        Human Traffic (1999)                      Drama
3362      3431        Death Wish II (1982)               Action|Drama
2122      2191         Merry War, A (1997)                     Comedy
2964      3033           Spaceballs (1987)              Comedy|Sci-Fi
2845      2914                Molly (1999)               Comedy|Drama
1849      1918      Lethal Weapon 4 (1998)  Action|Comedy|Crime|Drama
140        142     Shadows (Cienie) (1988)                      Drama

In [91]:
from surprise import Reader,Dataset,SVD
from surprise.model_selection import cross_validate

In [92]:
reader=Reader()
data=Dataset.load_from_df(ratings[['user_id','movie_id','rating']],reader)
svd=SVD()
cross_validate(svd,data,measures=['RMSE'],cv=5)

{'fit_time': (39.12251043319702,
  39.3544979095459,
  39.383366107940674,
  39.450085401535034,
  39.450063943862915),
 'test_rmse': array([0.87424291, 0.87457534, 0.87178999, 0.8734929 , 0.87379081]),
 'test_time': (2.4240834712982178,
  2.366638422012329,
  2.415132999420166,
  2.320676803588867,
  2.381477117538452)}